<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casino Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" onclick="toggleSection('home')">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="toggleSection('report')">Report</a>
                    </li>
                </ul>
            </div>

            <!-- The Logout Button -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Home section -->
    <div id="homeSection">

        <!-- Message -->
        <div th:if="${param.error}" class="alert alert-danger mt-3">
            <p class="text-danger">Player is a first-time customer. Please enter all the details</p>
        </div>
        <div th:if="${param.success}" class="alert alert-success mt-3">
            <p class="text-success">Enter the amount for the player</p>
        </div>

        <h2 class="mb-4 p-4">Casino Application</h2>

        <form action="#" class="col-md-6 p-4" th:action="@{/}" method="post">
            <!-- Your home section content goes here -->
            <div class="mb-3">
                <div id="helpHome" class="form-text">Check if the person is first-time customer or returning customer
                    using Check button by entering phone number.</div>
                <br>
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                    placeholder="Enter Phone Number" th:value="${playerPhoneNumber}" field="*{phoneNumber}" required>
            </div>

            <!-- Conditionally display the name field based on whether the person exists or not -->
            <div th:if="${showFields}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                        th:value="${foundPlayerName}" field="*{name}" required>
                </div>
                <div class="mb-3">
                    <label for="depositAmount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="depositAmount" name="depositAmount"
                        placeholder="Enter amount" field="*{depositAmount}" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" name="action" value="check">Check</button>
            <button type="submit" class="btn btn-primary ml-2" name="action" value="calculate">Calculate the Reward
                Points</button>

            <br>
            <!-- Display calculated reward points here -->
            <div id="rewardPointsResult" th:if="${rewardPoints != null}" class="mt-3">
                <p th:text="'Reward Points: ' + ${rewardPoints}"></p>
            </div>

        </form>
    </div>

    <!-- Report section -->
    <div id="reportSection" style="display: none;">

        <!-- Message -->
        <div th:if="${param.nullError}" class="alert alert-danger mt-3">
            <p class="text-danger">Please provide Phone Number or Date ranges</p>
        </div>
        <div th:if="${param.reportSuccess}" class="alert alert-success mt-3">
            <p class="text-success">Report is generated</p>
        </div>

        <!-- Message -->
        <div th:if="${param.updateError}" class="alert alert-danger mt-3">
            <p class="text-danger">Update section error message here</p>
        </div>
        <div th:if="${param.updateSuccess}" class="alert alert-success mt-3">
            <p class="text-success">Update successful message here</p>
        </div>

        <form class="row g-3 p-4" th:action="@{/report}" method="get">
            <!-- Your report section content goes here -->
            <div class="mb-6">
                <div id="help" class="form-text">Generate report by phone number or date-ranges</div>
                <br>
                <label for="playerPhoneNumber" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="playerPhoneNumber" name="playerPhoneNumber"
                    placeholder="Enter Phone Number" field="*{playerPhoneNumber}">
            </div>
            <div class="col-md-6">
                <label for="startDate" class="form-label">Starting Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate"
                    placeholder="Enter starting date" field="*{startDate}">
            </div>
            <div class="col-md-6">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate" placeholder="Enter ending date"
                    field="*{endDate}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Generate Report</button>
            </div>
        </form>
        <br>
        <div class="p-4">
            <h2>Report for analysis</h2>
            <table class="table table-bordered" id="dataTable">
                <!-- Your table content goes here -->
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Amount</th>
                        <th>Date (Timestamp)</th>
                        <th>Reward Points</th>
                        <th>Calculated at %</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="list, rowStat : ${searchResults}">
                    <td th:text="${rowStat.index + 1}"></td>
                        <td th:text="${list.playerName}"></td>
                        <td th:text="${list.phoneNumber}"></td>
                        <td th:text="${list.depositAmount}"></td>
                        <td th:text="${list.dateTime}"></td>
                        <td th:text="${list.rewardPoints}"></td>
                        <td th:text="${rewardPercentage}"></td>
                    </tr>
                </tbody>
            </table>
            <button id="downloadButton" class="btn btn-primary">Download Excel</button>
        </div>

        <!-- Update section -->
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}" id="updateSection">

            <form class="row g-3 p-4" th:action="@{/admin/update/}" method="post">
                <!-- Your update section content goes here -->

                <div class="mb-6">
                    <div id="help" class="form-text">Enter the details to be updated in the right side fields
                    </div>
                    <br>
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                        placeholder="Enter Phone Number" field="*{phoneNumber}">
                </div>

                <button type="submit" class="btn btn-primary">Update Player</button>
            </form>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script>

        function exportTableToExcel() {
            const table = document.getElementById('dataTable');
            const wb = XLSX.utils.table_to_book(table, { sheet: 'Sheet1' });
            XLSX.writeFile(wb, 'table_data.xlsx');
        }

        document.getElementById('downloadButton').addEventListener('click', exportTableToExcel);

        function toggleSection(section) {
            if (section === 'home') {
                document.getElementById('homeSection').style.display = 'block';
                document.getElementById('reportSection').style.display = 'none';
            } else if (section === 'report') {
                document.getElementById('homeSection').style.display = 'none';
                document.getElementById('reportSection').style.display = 'block';
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>